---
import LayoutMain from "../layout/layout-main.astro";
---

<LayoutMain>
  <div class="p-4">
    <h1 class="text-xl font-bold">ThreeJS Journey Gloomweaver</h1>
    <ul class="list-disc p-4">
      <li>
        <a href="/first" class="text-blue-600 hover:text-blue-800">First</a>
      </li>
    </ul>
  </div>
</LayoutMain>
